<section
  id="hero"
  class="d-flex align-items-center"
  style="
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
  [ngStyle]="{
    'background-image':
      'url(assets/images/header/' + header_image_count + '.jpg)'
  }"
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Royal Resort</h1>
        <h2>The Ultimate Lake View, Tadoba</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
          <a
            href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
            target="_blank"
            class="btn-get-started scrollto"
            ><i class="bi bi-play-circle"></i><span style="padding-left: 10px;">Watch Video</span></a
          >
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
        style="text-align: center"
      >
        <img
          src="assets/images/logo.png"
          style="height: 80%"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-12">
          <p style="font-size: 20px; text-align: center">
            Located in Mohurli, Royal Resort The Ultimate Lake View features a
            restaurant and garden. Short distance from attractions such as
            Tadoba National Park. A place where you refresh yourself in nature.
            We have family rooms. The units in the hotel are equipped with a
            flat-screen TV. Rooms are fitted with a kettle, while some have a
            terrace.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
</main>

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>About Taboda</h3>
        <p>
          Notably Maharashtra's oldest and largest National Park, the "Tadoba
          National Park", also known as the "Tadoba Andhari Tiger Reserve" is
          one of India's 47 project tiger reserves existing in India. It lies in
          the Chandrapur district of Maharashtra state and is approximately 150
          km from Nagpur city. The total area of the tiger reserve is 1,727
          Sq.km, which includes the Tadoba National Park, created in the year
          1955. The Andhari Wildlife Sanctuary was formed in the year 1986 and
          was amalgamated with the park in 1995 to establish the present Tadoba
          Andheri Tiger Reserve. The word 'Tadoba' is derived from the name of
          God "Tadoba" or "Taru," which is praised by local tribal people of
          this region and "Andhari" is derived from the name of Andhari river
          that flows in this area.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reviews</h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <!-- <div class="pic">
              <img
                src="assets/img/team/team-1.jpg"
                class="img-fluid"
                alt=""
              />
            </div> -->
          <div class="member-info">
            <h4>Vikram Banerjee</h4>
            <span></span>
            <p>
              Had a great stay and memorable trip.
              <br />
              1. Amazing location. Calm and serene
              <br />
              2. Rooms have great view unlike other places which have restricted
              view .
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="member-info">
            <h4>Rahul Rachhawar</h4>
            <span></span>
            <p>
              Ultimate place to spend your time with delicious food, Ultimate
              lake view ,Ultimate hospitality
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="member-info">
            <h4>Pankaj Chauhan</h4>
            <span></span>
            <p>Ultimate spot to stay hear, Full lake view</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->
